<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

	<test thread-count="5" name="Test">
		<!-- <parameter name="url" value="http://leaftaps.com/opentaps/" />
		<parameter name="userName" value="DemoSalesManager" />
		<parameter name="password" value="crmsfa" /> -->
		<classes>
<!-- 			<class name="practice.leafgrounds.testcases.TC001_TestButtons" />
 -->			<class name="practice.leafgrounds.testcases.TC002_ButtonOperations" />
		</classes>
	</test> <!-- Test -->

<!-- 	<test name="Test">
		<parameter name="url" value="http://leaftaps.com/opentaps/" />
		<parameter name="userName" value="DemoSalesManager" />
		<parameter name="password" value="crmsfaq" />
		<classes>
			<class name="week4.assignments.EditLead" />
		</classes>
	</test> -->
</suite> <!-- Suite -->
